mb40mktg/node_modules
mb40mktg/public/hot
mb40mktg/public/storage
mb40mktg/storage/*.key
mb40mktg/vendor
mb40mktg/.idea
mb40mktg/.vscode
mb40mktg/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache

mb40mktg-android/*.iml
mb40mktg-android/.gradle
mb40mktg-android/local.properties
mb40mktg-android/.idea/libraries
mb40mktg-android/.idea/modules.xml
mb40mktg-android/.idea/workspace.xml
mb40mktg-android/.DS_Store
mb40mktg-android/build
mb40mktg-android/captures
mb40mktg-android/.externalNativeBuild
