mb40mktg/node_modules
mb40mktg/public/hot
mb40mktg/public/storage
mb40mktg/storage/*.key
mb40mktg/vendor
mb40mktg/.idea
mb40mktg/.vscode
mb40mktg/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache